PORT=3000
NODE_ENV=production

SMTP_HOST=smtp.zoho.in
SMTP_PORT=465
SMTP_USER=iharsh220@zohomail.in
SMTP_PASS=your_password_here
BOT_URL=https://webchat.botframework.com/embed/YOUR_BOT_ID?s=YOUR_BOT_SECRET